node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/reports/
/allure-results/
/allure-report/
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/.idea/ui-tesing-playwright.iml
/.idea/vcs.xml
/.idea/workspace.xml
